<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grading</title>
</head>
<style>
    body{
        text-align: center;
    }
</style>
<body>
    <h1>Grading Informations</h1>

    <form action="" method="post">
        {% csrf_token %}
        <div class="questions">Questions</div>
        <input type="text" name="Question" id="">
        <div class="label">Choice Field</div>
        <input type="text" name="Choice_Field" id="">
        <div class="label">Votes</div>
        <input type="number" name="Votes" id=""><br><br>
        <button type="submit">Enter Grades</button>
    </form>

</body>
</html>